<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enricci Propiedades</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Enricci_Propiedades.styles.css" asp-append-version="true" />

<!-- Código -->

</head>
<body style="background-color:rgb(226, 222, 222);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="wwwroot/imagenes/Logo Enricci Propiedades.png" class="rounded float-start img-thumbnail img-responsive" alt="Logo R.H. Enricci Propiedades" width="100" height="120" />
            </div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" >
                    <h4 class="text-dark">Enricci Propiedades</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="btn-group btn-group-lg">
                            <li class="nav-item">
                                <a class="nav-link text-dark btn" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="nav-link text-dark btn dropdown" data-bs-toggle="dropdown" asp-area="" asp-page="/La_Empresa">La Empresa</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="Quienes_Somos">Quienes Somos</a></li>
                                            <li><a class="dropdown-item" href="Vision">Visión</a></li>
                                            <li><a class="dropdown-item" href="Mision">Misión<nav></nav></a></li>
                                        </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="nav-link text-dark btn dropdown" data-bs-toggle="dropdown" asp-area="" asp-page="/Servicios">Servicios</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="Tasacion">Tasación</a></li>
                                            <li><a class="dropdown-item" href="Cobranza">Cobranza</a></li>
                                            <li><a class="dropdown-item" href="Asesoria_Legal">Asesoría Legal</a></li>
                                        </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="nav-link text-dark btn dropdown" data-bs-toggle="dropdown" asp-area="" asp-page="/Propiedades">Propiedades</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Venta</a></li>
                                            <li><a class="dropdown-item" href="#">Alquiler</a></li>
                                            <li><a class="dropdown-item" href="#">Alquiler Temporario</a></li>
                                            <li><a class="dropdown-item" href="#">Local Comercial</a></li>
                                            <li><a class="dropdown-item" href="#">Fondo de Comercio</a></li>
                                            <li><a class="dropdown-item" href="#">Cochera</a></li>
                                        </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark btn" asp-area="" asp-page="/Contacto">Contacto</a>
                            </li>
                        </div> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    </div>
        </nav>
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Enricci Propiedades - Solis 581 CABA - Cel: 011-15-3298-6133 - horacioenricci@gmail.com
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>