@page
@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>
<br>
<h5>Nombre y Apellido</h5>
<input type="text" class="form-control" placeholder="Escribe aquí tu Nombre y Apellido">
<br>
<label for="formControlInput" class="form-label">
    <h5>Email</h5>
</label>
<input type="email" class="form-control" id="formControlInput" placeholder="Escribe aquí tu email">
<br>
<h5>Teléfono</h5>
<input type="text" class="form-control" placeholder="Escribe aquí tu teléfono de contacto">
<br>
<h5>Consulta:</h5>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
  <label for="floatingTextarea">Escribe aquí tu consulta...</label>
</div>


