@page

@{
    ViewData["Title"] = "Home page";
}
<br>
<div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselDark" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="" class="d-block w-100" alt="Av Entre Rios 500">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Av Entre Rios 500</h5>
        <p>Hermoso departamento en el 10mo piso con vista al río de la plata....</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="wwwroot/imagenes/Cochabamba 1700/Frente.jpg" class="d-block w-100" alt="Cochabamba 1700">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Cochabamba 1700</h5>
        <p>Departamento 2 ambientes, espececial para una familia que recién arranca....</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="wwwroot/imagenes/Solis 700/Frente.jpg" class="d-block w-100" alt="Solis 700">
      <div class="carousel-caption d-none d-sm-block">
        <h5>Solis 700</h5>
        <p>Vivienda restaurada a nueva....</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<br>
<br>
<h1>Bienvenidos</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis assumenda corporis omnis soluta accusamus, a sint similique delectus? Delectus eaque quae maiores accusamus eius minima aperiam amet. Quod, quos tempore!Loremlore Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, temporibus ab? Explicabo tempora iusto tempore? Doloribus quas sed odit unde, in, veniam error nisi, rerum amet optio aspernatur mollitia <eius class="lore">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum fugit laudantium minima aliquam culpa illo incidunt dicta error rem obcaecati voluptate repellendus, perspiciatis hic, assumenda quae quod voluptatibus officiis.</p>
