@page
@{
    ViewData["Title"] = "Propiedades";
}
<h1>@ViewData["Title"]</h1>
<br>
<a href=""></a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, enim illum rerum impedit officia porro magnam fuga est culpa dignissimos atque. Molestias voluptates vero necessitatibus! Culpa deserunt consequuntur magni hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ab. Reiciendis ipsa ullam beatae tempore, praesentium necessitatibus voluptate a possimus ea modi repudiandae quidem dolorem consequuntur quam id non exercitationem?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam sequi odio soluta veritatis tenetur, unde ratione doloribus doloremque veniam sunt, possimus, est velit. Non temporibus perferendis est eos distinctio. Vitae</p>
<br>


